.blog {
    border: 1px solid black;
    margin-bottom: 1em;
  }
  
  .blog-title {
    font-size: large;
    font-weight: 600;
    margin-top: 0.5em;
  }
  
  .toggle-details {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #5B7FFF;
    border: 1px solid black;
    border-radius: 10px ;
    width: 5em;
    cursor: pointer;
  }